.services {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .hero-section-services {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 90vh;
    text-align: center;
    padding-top: 10vh;
    position: relative; 
  }
  
  .services-background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
    filter: brightness(0.4);
  }
  
  .hero-section-services h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 0vh;
  }

  
  
  @media (max-width: 768px) {
    .hero-section-services h1 {
      font-size: 2rem;
    }
  }

  .services-section {
    background-color: black;
    color: white;
    padding: 3rem 2rem;
    text-align: left;
    opacity: 0; 
    transform: translateY(100px); 
    transition: opacity 1s ease-out, transform 1s ease-out; 
  }
  
  .services-section.animate {
    opacity: 1;
    transform: translateY(0); 
  }
  
  .services-section h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
  }
  
  .services-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding-top: 2rem;
  }
  
  .service-card {
    
    border-radius: 0px;
    padding: 2rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.8s ease;
    filter: brightness(0.4);
  }
  
  .service-card:hover .card-background {
    transform: scale(1.1);
  }
  
  .service-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    z-index: 1;
    position: relative;
  }
  
  .service-card p {
    font-size: 1rem;
    line-height: 1.5;
    z-index: 1;
    position: relative;
  }
  
  @media (max-width: 768px) {
    .services-section h2 {
      font-size: 2rem;
    }
    
    .service-card {
      padding: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .service-card h3 {
      font-size: 1.2rem;
    }
  
    .service-card p {
      font-size: 0.9rem;
    }
  }

  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container h1 {

    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 0vh;
    text-align: left;

}

.box{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.root1{
    width: 35%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section1{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
.section1 h1{
    margin: 0%;
    letter-spacing: 2px;
    color: #42b883;
    font-size: 25px;
}
.section1 p{
    font-style: italic;
    font-weight: 500;
    margin: 10px;
    
}
.section1 .circle{
    background-color: #42b883;
}
.section2{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
.section2 h1{
    margin: 0%;
    letter-spacing: 2px;
    color: #347474;
    font-size: 25px;
}
.section2 p{
    font-style: italic;
    font-weight: 500;
    margin: 10px;
}
.section2 .circle{
    background-color: #347474;
}
.root2{
    width: 30%;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.root2 img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.root3{
    width: 35%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section3{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
.section3 h1{
    margin: 0%;
    letter-spacing: 2px;
    color: #35495e;
    font-size: 25px;
}
.section3 p{
    font-style: italic;
    font-weight: 500;
    margin: 10px;
}
.section3 .circle{
    background-color: #35495e;
}
.section4{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
.section4 h1{
    margin: 0%;
    letter-spacing: 2px;
    color: #ff7e67;
    font-size: 25px;
}
.section4 p{
    font-style: italic;
    font-weight: 500;
    margin: 10px;
}
.section4 .circle{
    background-color: #ff7e67;
}
@media screen and (max-width:1024px){
    .container{
        height: fit-content;
    }
    .box{
        flex-direction: column;
        row-gap: 30px;
        height: fit-content;
    }
    .root1{
        width: 100%;
        height: fit-content;
        order: 2;
        row-gap: 30px;
        font-size: 20px;
    }
    .root2{
        width: 100%;
        height: fit-content;
        order: 1;
    }
    .root3{
        width: 100%;
        height: fit-content;
        order: 3;
        row-gap: 30px;
        font-size: 20px;
    }
}
@media screen and (max-width:630px){
    .container{
        padding:20px 0px;
        height: fit-content;
    }
    .box{
        flex-direction: column;
        row-gap: 30px;
        height: fit-content;
    }
    .root1{
        width: 100%;
        height: fit-content;
        order: 2;
        row-gap: 30px;
        font-size: 20px;
    }
    .root2{
        width: 100%;
        height: fit-content;
        order: 1;
    }
    .root3{
        width: 100%;
        height: fit-content;
        order: 3;
        row-gap: 30px;
        font-size: 20px;
    }
}

.service-contact-section {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    background-color: black;
  }
  
  .service-contact-info {
    flex: 1;
    padding-right: 2rem;
    color: whitesmoke;
  }
  
  .service-contact-info h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .service-contact-info .subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin: 0.5rem 0;
  }
  
  .service-contact-form {
    flex: 1;
  }
  
  .service-contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .service-form-row {
    margin-bottom: 1rem;
    position: relative;
  }
  
  .service-form-row label {
    position: absolute;
    top: -0.75rem;
    right: 0;
    background-color: white;
    padding: 0 0.5rem;
  }
  
  .service-form-row input,
  .service-form-row textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid transparent;
    background-color: lightgrey;
    border-radius: 4px;
    outline: none;
  }
  
  .service-form-row input:focus,
  .service-form-row textarea:focus {
    background-color: grey;
    border: 1px solid darkgrey;
  }
  
  .service-form-row textarea {
    height: 150px;
    resize: vertical;
  }
  
  .service-form-row button {
    background-color: darkgrey;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  .service-form-row button:hover {
    background-color:grey;
  }

  
* {
  box-sizing: border-box;
}


.service-contact-section, .service-form-row input, .service-form-row textarea, .service-form-row button {
  max-width: 100%;
  width: 100%;
}


body {
  overflow-x: hidden;
}


@media (max-width: 768px) {
  .service-contact-section {
    flex-direction: column;
    padding: 1rem;
  }

  .service-contact-info {
    padding-right: 0;
  }

  .service-contact-form {
    width: 100%;
  }

  .service-form-row {
    padding: 0;
  }
}



  